.git
.gitignore
.env
.kilo
__pycache__
*.pyc

data
.chroma

ammc_report_scraper/data/reports
ammc_report_scraper/data/manifests
ammc_report_scraper/data/companies

frontend/node_modules
frontend/dist

*.md